cohere
ddgs
duckduckgo_search
google-genai
google-generativeai
graphviz
groq
ipykernel
ipywidgets
langchain
langchain_chroma
langchain_experimental
langchain_huggingface
langchain_openai
langchain_pinecone
langchain-cohere
langchain-community
langchain-google-genai
langchain-groq
langchain-mistralai
langchain-openai
langchain-pinecone
langchainhub
langgraph
matplotlib
mistralai
pandas
pandas-datareader
pinecone
pinecone-client
pypdf
python-dotenv
scikit-learn
sentence-transformers
wikipedia